@model ApplicationToDoTasks.Models.TodoTask

@using ApplicationToDoTasks.Models
@{
    ViewData["Title"] = "Edit Task";
}

<br />
<br />
<h2>Edit Task</h2>

<br />
<br />

<div class="task-card">
    <form asp-action="Edit"  method="post">
        <input type="hidden" asp-for="Id" />

        <input type="text" asp-for="Title" class="task-title" required />
        <textarea asp-for="Description" class="task-desc" required></textarea>

        <select asp-for="Priority" asp-items="Html.GetEnumSelectList<Priority>()"></select>

        <select asp-for="CategoryId" asp-items="ViewBag.Categories"></select>
        <br />
        <br />
     
        <input type="checkbox" asp-for="IsCompleted" /> Completed
        <br />
        <br />
        <button type="submit" style="margin-top: 10px">Update</button>
    </form>

</div>